logs/
bin/
help/
.idea/
configs/face_comparison.prod.toml
configs/face_comparison.prod.secondary.toml
configs/face_comparison.toml
configs/face_comparison.docker.toml
configs/face_comparison.testing.toml

